/* RESET */
html, body, header, h1, h2, h3, main, div, table, tr, td, p, ul, li, section, img, a , a:active, a:visited {
  margin: 0px;
  border: 0px;
  padding: 0px;

  box-sizing: border-box;

  font: inherit;

  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* BODY STYLE */

html {
  background-color: #68d0a0;
  color: #000;
}

body {
  width: 805px;
  margin: 0px auto;
  font-family: 'Lato', sans-serif;
}

/* HEADER */

header {
  margin: 20px 0 10px 0;
  letter-spacing: .9px;
  position: relative;
}

header h1 {
  color: #000;
  font-size: 3em;
  font-family: 'Fredoka One', sans-serif;;
  text-shadow: 0px 1px 0px rgba(255,255,255,.6), 0px -1px 0px rgba(0,0,0,.8);
}

/* MAIN */

.game {
  display: flex;
}

.game-board-container {
  height: 500px;
  width: 500px;
  padding: 25px;
  border-radius: 10px;
  background-image: url('../img/background/background.png');
}

#game-board {
  width: 450px;
  border-collapse: collapse;
}

#game-board tr:hover td {
  background-color: rgba(154, 146, 122, 0.18);
}

.square {
  width: 75px;
  height: 75px;
  border: 1px solid rgba(154, 146, 122, 0.28);
  text-align: center;
  background-size: 93% 93%;
  background-position: center center;
}

.sidebar {
  width: 100%;
  padding: 20px 15px 10px 15px;
  margin: 5px 0 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  outline: 1px dashed rgba(0, 0, 0, 0.28);
  outline: 1px dashed #CBE4F5;
  outline-offset: -5px;
  background-color: #97C2E1;
  font-size: 16px;
}

.score-board {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.28);
  font-size: 18px;
  display: flex;
  justify-content: space-between;
}

#added-score {
  margin-left: 5px;
  color: #2C6A96;
  font-weight: bold;
}

.audio-controls i {
  font-size: 20px;
  margin-left: 10px;
}

.audio-controls i:hover {
  cursor: pointer;
}

.inactive-control {
  color: rgba(154, 146, 122, 0.58);
}

#sound-control {
  min-width: 20px;
}

.level-score-badges {
  display: flex;
  justify-content: space-between;
}

.level-piece-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#level {
  font-size: 32px;
  margin-bottom: 10px;
}

#current-piece {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.28);
}

.badges-section {
  margin-top: 23px;
  border-left: 1px solid rgba(0, 0, 0, 0.28);
  padding-left: 5px;
}

#badges {
}

.badge {
  width: 48px;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in all;
}

.locked {
  filter: grayscale(1) opacity(.13);
}

.rules {
  margin-top: 15px;
  font-size: 15px;
  height: 40%;
}

.rules li {
  margin-bottom: 4px;
}

.contact-info {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  text-align: right;
  font-size: 12px;
  text-transform: uppercase;
  letter-spacing: 1.2px;
}

.c-icon, .contact-icons a, .contact-icons a:active, .contact-icons a:visited {
  margin-top: 3px;
  font-size: 29px;
  color: #000;
  transition: color 0.2s;
  letter-spacing: -0.3px;
}

.c-icon:hover {
  font-size: 29px;
  cursor: pointer;
  color: #49799E;
}

/* BUILDING HOVER & DISPLAY */

.hover-1:hover {
  background-image: url("../img/icons/1.png");
}

.hover-2:hover {
  background-image: url("../img/icons/2.png");
}

.hover-3:hover {
  background-image: url("../img/icons/3.png");
}

.hover-4:hover {
  background-image: url("../img/icons/4.png");
}

.hover-5:hover {
  background-image: url("../img/icons/5.png");
}

.hover-6:hover {
  background-image: url("../img/icons/6.png");
}

.hover-7:hover {
  background-image: url("../img/icons/7.png");
}

.hover-8:hover {
  background-image: url("../img/icons/8.png");
}

.hover-9:hover {
  background-image: url("../img/icons/9.png");
}

.hover-10:hover {
  background-image: url("../img/icons/10.png");
}


/* HEADER BACKGROUNG IMAGES */

.sign {
  position: absolute;
  width: 40px;
  left: 425px;
  top: 30px;
  z-index: 1;
}

.tree1 {
  position: absolute;
  width: 35px;
  left: -29px;
  top: 42px;
}
.tree2 {
  position: absolute;
  width: 33px;
  left: -39px;
  top: 63px;
}

.tree3 {
  position: absolute;
  width: 22px;
  left: 15px;
  top: 45px;
}
.tree4 {
  position: absolute;
  width: 32px;
  left: -29px;
  top: 88px;
}
.tree5 {
  position: absolute;
  width: 28px;
  left: 449px;
  top: 22px;
  z-index: 0;
}

.texture1 {
  position: absolute;
  width: 16px;
  left: 332px;
  top: 52px;
  border-radius: 5px;
}

.texture2 {
  position: absolute;
  width: 16px;
  left: 190px;
  top: 42px;
  border-radius: 5px;
}

/* GAME OVER */

#game-over {
  position: absolute;
  top: 260px;
  left: 165px;
  width: 150px;
  height: 110px;
  padding: 20px 15px 10px 15px;
  margin: 5px 0 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  outline: 1px dashed rgba(0, 0, 0, 0.28);
  outline: 1px dashed #CBE4F5;
  outline-offset: -5px;
  background-color: #97C2E1;
  font-size: 16px;
  font-weight: 100;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.5);
}

#game-over img {
  position: absolute;
  width: 60px;
  animation-name: drive;
    -webkit-animation-name: drive;
  animation-duration: 4s;
    -webkit-animation-duration: 4s;
  animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
  animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

/* ANIMATIONS */

.hidden {
  display: none;
}

.balloon {
  position: absolute;
  width: 75px;
  left: 355px;
  top: -15px;
  animation-name: fly;
    -webkit-animation-name: fly;
  animation-duration: 40s;
    -webkit-animation-duration: 40s;
  animation-delay: 5s;
    -webkit-animation-delay: 5s;
  animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
  animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

@keyframes fly {
    0%   {left:355px; top:-15px;}
    25%  {left:350px; top:-10px;}
    50%  {left:355px; top:-5px;}
    70%  {left:350px; top:-7px;}
    100% {left:355px; top:-15px;}
}

@-webkit-keyframes fly {
    0%   {left:350px; top:-15px;}
    25%  {left:345px; top:-10px;}
    50%  {left:350px; top:-5px;}
    70%  {left:345px; top:-7px;}
    100% {left:350px; top:-15px;}
}


.wiggle {
  animation: wiggle .8s infinite;
  /*background-image: url('../img/icons/dusty.gif');*/
  /*position: relative;*/
}

@keyframes wiggle {
    0% { transform: rotate(0deg); }
   10% { transform: rotate(-3deg); }
   20% { transform: rotate(0deg); }
   30% { transform: rotate(4deg); }
   40% { transform: rotate(0deg); }
   50% { transform: rotate(0deg); }
   60% { transform: rotate(-3deg); }
   70% { transform: rotate(0deg); }
   80% { transform: rotate(2deg); }
   90% { transform: rotate(0deg); }
  100% { transform: rotate(0deg); }
}


@keyframes drive {
  0% {left:60px; top:40px;}
  100%   {left:30px; top:40px;}
}

@-webkit-keyframes drive {
  0% {left:60px; top:40px;}
  100%   {left:30px; top:40px;}
}

.slideDown{
	animation-name: slideDown;
	-webkit-animation-name: slideDown;

	animation-duration: 1.1s;
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes slideDown {
	0% {transform: translateY(-100%);}
	30%{transform: translateY(8%);}
	50%{transform: translateY(-4%);}
	70%{transform: translateY(2%);}
	100% {transform: translateY(0%);}
}

@-webkit-keyframes slideDown {
	0% {transform: translateY(-100%);}
	30%{transform: translateY(8%);}
	50%{transform: translateY(-4%);}
	70%{transform: translateY(2%);}
	100% {transform: translateY(0%);}
}

/* MEDIA QUERY */

@media (max-width: 800px) {

  body {
    width: 500px;
  }

  .game {
    flex-direction: column;
    justify-content: center;
  }

  .sidebar {
    margin: 5px auto !important;
    width: 88% !important;
  }

  .level-piece-board {
    margin-top: 3px;
    margin-bottom: 0px;
    flex-direction: row !important;
    justify-content: space-around;
  }

  .contact-info {
    margin-top: -40px;
  }
}
