/* RESET */
html, body, header, h1, h2, h3, main, div, table, tr, td, p, ul, li, section, img {
  margin: 0px;
  border: 0px;
  padding: 0px;

  box-sizing: border-box;

  font: inherit;

  list-style: none;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

/* BODY STYLE */

html {
  background-color: #68d0a0;
  color: #000;
}

body {
  width: 805px;
  margin: 0px auto;
  font-family: 'Lato', sans-serif;
}

/* HEADER */

header {
  margin: 20px 0 10px 0;
  letter-spacing: .9px;
  position: relative;
}

header h1 {
  color: #000;
  font-size: 3em;
  font-family: 'Fredoka One', sans-serif;;
  text-shadow: 0px 1px 0px rgba(255,255,255,.6), 0px -1px 0px rgba(0,0,0,.8);
}

/* MAIN */

.game {
  display: flex;
}

.game-board-container {
  height: 500px;
  width: 500px;
  padding: 25px;
  border-radius: 10px;
  background-image: url('../img/background/background.png');
}

#game-board {
  width: 450px;
  border-collapse: collapse;
}

tr:hover td {
  /*background-color: rgba(154, 146, 122, 0.18);*/
}

.square {
  width: 75px;
  height: 75px;
  border: 1px solid rgba(154, 146, 122, 0.28);
  text-align: center;
}

.square > img {
  width: 65px;
  height: 65px;
}

.sidebar {
  width: 100%;
  padding: 20px 15px;
  margin: 5px 0 5px 10px;
  border: 1px solid rgba(0, 0, 0, 0.28);
  outline: 1px dashed rgba(0, 0, 0, 0.28);
  outline: 1px dashed #CBE4F5;
  outline-offset: -5px;
  background-color: #97C2E1;
  font-size: 16px;
}

.score-board {
  padding-bottom: 8px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.28);
  font-size: 18px;
}

#added-score {
  margin-left: 5px;
  color: #2C6A96;
  font-weight: bold;
}

.level-piece-board {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#level {
  font-size: 32px;
  margin-bottom: 10px;
}

#current-piece {
  width: 60px;
  height: 60px;
  margin: 10px 0;
  border: 1px solid rgba(0, 0, 0, 0.28);
}

.rules {
  margin-top: 15px;
  font-size: 15px;
  height: 40%;
}

.rules li {
  margin-bottom: 4px;
}

/* ANIMATIONS */

.hidden {
  display: none;
}

.sign {
  position: absolute;
  width: 40px;
  left: 425px;
  top: 30px;
}

.tree {
  position: absolute;
  width: 40px;
  left: -9px;
  top: 38px;
}

.text1 {
  position: absolute;
  width: 16px;
  left: 332px;
  top: 52px;
}

.text2 {
  position: absolute;
  width: 16px;
  left: 460px;
  top: 23px;
}

.balloon {
  position: absolute;
  width: 75px;
  left: 355px;
  top: -15px;
  animation-name: fly;
    -webkit-animation-name: fly;
  animation-duration: 40s;
    -webkit-animation-duration: 40s;
  animation-delay: 5s;
    -webkit-animation-delay: 5s;
  animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
  animation-direction: alternate;
    -webkit-animation-direction: alternate;
}

@keyframes fly {
    0%   {left:355px; top:-15px;}
    25%  {left:350px; top:-10px;}
    50%  {left:355px; top:-5px;}
    70%  {left:350px; top:-7px;}
    100% {left:355px; top:-15px;}
}

@-webkit-keyframes fly {
    0%   {left:350px; top:-15px;}
    25%  {left:345px; top:-10px;}
    50%  {left:350px; top:-5px;}
    70%  {left:345px; top:-7px;}
    100% {left:350px; top:-15px;}
}

.fadeIn{
	animation-name: fadeIn;
	-webkit-animation-name: fadeIn;

	animation-duration: 1.3s;
	-webkit-animation-duration: 1.3s;

	animation-timing-function: ease-in-out;
	-webkit-animation-timing-function: ease-in-out;

	visibility: visible !important;
}

@keyframes fadeIn {
	0% {
		transform: scale(0);
		opacity: 0.0;
	}
	60% {
		transform: scale(1.1);
	}
	80% {
		transform: scale(0.9);
		opacity: 1;
	}
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@-webkit-keyframes fadeIn {
	0% {
		-webkit-transform: scale(0);
		opacity: 0.0;
	}
	60% {
		-webkit-transform: scale(1.1);
	}
	80% {
		-webkit-transform: scale(0.9);
		opacity: 1;
	}
	100% {
		-webkit-transform: scale(1);
		opacity: 1;
	}
}

.expandUp{
	animation-name: expandUp;
	-webkit-animation-name: expandUp;

	animation-duration: 0.7s;
	-webkit-animation-duration: 0.7s;

	animation-timing-function: ease;
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}

@keyframes expandUp {
	0% {
		transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		transform: translateY(3%);
	}
	100% {
		transform: translateY(0%) scale(1) scaleY(1);
	}
}

@-webkit-keyframes expandUp {
	0% {
		-webkit-transform: translateY(100%) scale(0.6) scaleY(0.5);
	}
	60%{
		-webkit-transform: translateY(-7%) scaleY(1.12);
	}
	75%{
		-webkit-transform: translateY(3%);
	}
	100% {
		-webkit-transform: translateY(0%) scale(1) scaleY(1);
	}
}
